div {
  all: revert;
  position: relative;
  flex: auto;
  display: flex;
  box-sizing: border-box;
  block-size: 100%;
  font-size: 0.625rem;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
