div {
  all: revert;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto;
  block-size: 100%;
  font: 1rem / 1.5 sans-serif;
  background: #fff;
  overflow: auto;
  transform: scale(2);
}
